#container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#left-column, #right-column {
  width: 40%;
  margin: 0 10px;
}

.word, .translation {
  padding: 15px; /* Увеличим отступы внутри блоков */
  margin: 10px; /* Увеличим отступы между блоками */
  border: 1px solid #333;
  cursor: pointer;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 24px; /* Увеличим размер шрифта */
  border-radius: 10px; /* Добавим закругленные края */
}

.word:hover, .translation:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: yellow;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

#counter-container {
  text-align: center;
  margin-top: 20px;
}

#counter {
  font-size: 20px;
  font-weight: bold;
}